.issues__item {
  @include box-shadow(rgba(0, 0, 0, 0.1) 2px 2px 5px);
  border: 1px solid darken($light-color, 10%);
  list-style: none;
  padding: 10px;
}

.issues-header {
  text-align: center;
}

.issues__item__title {
  margin: 0 0 10px;
  padding: 0;

  a {
    color: $dark-color;
    text-decoration: none;

    &:focus,
    &:hover {
      text-decoration: underline;
    }
  }
}

.issues__item__labels {
  margin-bottom: 20px;
  padding: 0;
}

.issues__item__meta {
  font-size: $small-font-size;
  margin-bottom: 20px;
}

.issues__item__label {
  display: inline-block;

  a {
    background: $dark-color;
    color: $light-color;
    font-size: $small-font-size;
    padding: 3px 6px;
    text-decoration: none;

    &:focus,
    &:hover {
      background: lighten($dark-color, 10%);
    }
  }
}

.issues__item__excerpt {
  font-style: italic;
}

.issues-pagination {
  margin-left: 10px;
}

.issues-pagination__page {
  display: inline-block;

  a {
    @include naked-link();
    background: $dark-color;
    border: 1px solid $dark-color;
    color: $light-color;
    display: block;
    padding: 3px;
    text-align: center;
    width: 20px;

    &:focus,
    &:hover {
      background: lighten($dark-color, 10%);
      text-decoration: none;
    }
  }

  &--current a {
    background: none;
    border: 1px solid darken($light-color, 20%);
    color: $dark-color;

    &:focus,
    &:hover {
      background: none;
      color: $dark-color;
    }
  }
}
