@mixin box-shadow($value) {
  -moz-box-shadow: $value;
  -webkit-box-shadow: $value;
  box-shadow: $value;
}

@mixin naked-link() {
  text-decoration: none;

  &:focus,
  &:hover {
    text-decoration: underline;
  }
}
